.Sudoku-square {
  width: 10%;
  margin: 0 0;
  border: 1px solid black;
  min-height: 50px;
  display: inline-flex;
}

.Immutable-sudoku-square {
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
}

.Mutable-sudoku-square {
  width: 100%;
  margin: 0 auto;
}
